
#container {
    background-image: url("assets/images/skyline.jpg");
    z-index: -1;
    float: left;
    height: 100%;
    width: 31%;

}
img {
    background:rgba(0,0,0,0.3);
    z-index: -1;
}

.search-page {
    z-index: 1;
    margin-top: -600px;
    text-align:center;
}


#parkIt {
    background: linear-gradient(#201a17, #2e1a0d);
    color: white;
    font-family: 'Cabin Sketch', cursive;
    font-size: 35px;
    letter-spacing: 4px;
    height: 50px;
    width: 890px;
    transform: rotate(90deg); 
    float: right;
    margin-right: -420px;
    margin-top: -470px;
    
}

#caption {
    bottom: auto;
    text-align: center;
    opacity: 0.9;
    color:white;
}

.form-control {
    opacity:0.4;
    text-align: center;
    color:white;
}

.dropdown > .dropdown-menu {
    text-align: center;
  }

.button, .dropdown-menu {
    opacity: 0.4;
    text-align: center;
    
}
    
.btn {
    opacity:0.7;

}

ul.dropdown-menu>li {
    text-align: center;
}



#caption {
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    top: 30%;
    z-index: 1;
}

.btn {
    letter-spacing: 3px;

}






 .iframe-container{
    position: relative;
    width: 65%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
    float: right;
    margin-right: 50px;
}

.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
} 




/* GOOGLE MAP SEARCH CSS 
Optional: Makes the sample page fill the window. */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}
